# CREATING COMBINED PARQUET FILE: 2022

In [1]:
import pandas as pd

In [11]:
dfs = []

for idx in range(12):

    df = pd.read_parquet(f'green_tripdata_2022-{idx + 1:02d}.parquet')
    dfs.append(df)

result_df = pd.concat(dfs, ignore_index=True)

In [12]:
result_df

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2022-01-01 00:14:21,2022-01-01 00:15:33,N,1.0,42,42,1.0,0.44,3.50,0.50,0.5,0.00,0.0,None,0.3,4.80,2.0,1.0,0.00
1,1,2022-01-01 00:20:55,2022-01-01 00:29:38,N,1.0,116,41,1.0,2.10,9.50,0.50,0.5,0.00,0.0,None,0.3,10.80,2.0,1.0,0.00
2,1,2022-01-01 00:57:02,2022-01-01 01:13:14,N,1.0,41,140,1.0,3.70,14.50,3.25,0.5,4.60,0.0,None,0.3,23.15,1.0,1.0,2.75
3,2,2022-01-01 00:07:42,2022-01-01 00:15:57,N,1.0,181,181,1.0,1.69,8.00,0.50,0.5,0.00,0.0,None,0.3,9.30,2.0,1.0,0.00
4,2,2022-01-01 00:07:50,2022-01-01 00:28:52,N,1.0,33,170,1.0,6.26,22.00,0.50,0.5,5.21,0.0,None,0.3,31.26,1.0,1.0,2.75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
840397,2,2022-12-31 23:33:00,2022-12-31 23:49:00,None,NaN,33,79,NaN,3.53,20.72,0.00,0.0,4.89,0.0,None,1.0,29.36,NaN,NaN,NaN
840398,2,2022-12-31 23:29:00,2023-01-01 00:01:00,None,NaN,49,197,NaN,8.94,39.01,0.00,0.0,8.00,0.0,None,1.0,48.01,NaN,NaN,NaN
840399,2,2022-12-31 23:05:00,2022-12-31 23:12:00,None,NaN,54,181,NaN,1.27,12.11,0.00,0.0,2.62,0.0,None,1.0,15.73,NaN,NaN,NaN
840400,2,2022-12-31 23:03:00,2022-12-31 23:18:00,None,NaN,7,129,NaN,2.23,15.51,0.00,0.0,3.30,0.0,None,1.0,19.81,NaN,NaN,NaN
840401,2,2022-12-31 23:16:00,2022-12-31 23:25:00,None,NaN,17,61,NaN,1.74,12.32,0.00,0.0,2.66,0.0,None,1.0,15.98,NaN,NaN,NaN

In [13]:
result_df.to_parquet('./green_tripdata_2022.parquet')

# DUMP THIS PARQUET FILE IN GCP

## BIG QUERY QUERIES

```sql
SELECT * FROM `ny-rides-de-zoomcamp-2024.nytaxi.external_green_taxi_2022` LIMIT 100;

CREATE OR REPLACE TABLE `ny-rides-de-zoomcamp-2024.nytaxi.external_green_taxi_2022_nonpartitioned` AS
SELECT * FROM `ny-rides-de-zoomcamp-2024.nytaxi.external_green_taxi_2022`;

SELECT count(distinct(PULocationID))
from `ny-rides-de-zoomcamp-2024.nytaxi.external_green_taxi_2022`;

SELECT count(distinct(PULocationID))
from `ny-rides-de-zoomcamp-2024.nytaxi.external_green_taxi_2022`;

select count(*)
from `ny-rides-de-zoomcamp-2024.nytaxi.external_green_taxi_2022`
where fare_amount = 0;

CREATE OR REPLACE TABLE `ny-rides-de-zoomcamp-2024.nytaxi.external_green_taxi_2022_partitioned`
PARTITION BY DATE(lpep_pickup_datetime) 
CLUSTER BY PUlocationID
AS
SELECT * FROM `ny-rides-de-zoomcamp-2024.nytaxi.external_green_taxi_2022`;

select distinct(PULocationID)
from `ny-rides-de-zoomcamp-2024.nytaxi.external_green_taxi_2022_partitioned`
where date(lpep_pickup_datetime) between '2022-06-01' and '2022-06-30'
```